@media only screen and (min-width: 768px) {

  .medium-6 {
    width: 33%;
  }

  #services {
    flex-direction: row;
  }

  main {
    margin: 35px 9vw;
  }

  header {
    padding: 35px 9vw;
  }

  nav a {
    font-size: 1.4rem;
  }
} /* end of media query */
