@media only screen and (min-width: 768px) {

  main {
    margin: 35px 9vw;
  }

  header {
    padding: 35px 9vw;
  }

  nav a {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 18px;
  }

  .medium-6 {
    width: 33%;
  }

  #service-box {
    flex-direction: row;
  }

  #projects {
    flex-direction: row;
  }

  .card {
    width: 30%;
    margin-bottom: 0;
  }

  #projects .card {
    width: 45%;
  }

  nav button {
    display: none;
  }

  nav li {
    float: left;
  }

  nav ul {
    display: inline;
  }
} /* end of media query */
