@import url("components/header.css");

img {
  width: 30%;
  height: 60%;
}

body {
  color: white;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

h2, h3 {
  font-family: 'Inter', sans-serif;
}

main {
  margin: 0px 2em;
}
