@import url("components/navigation.css");
@import url("components/landing.css");
@import url("components/services.css");
@import url("components/button.css");

html, body {
  height: 100%;
}

header {
  padding: 2em;
}

.content-box {
  margin: 5vh 0;
}

img {
  width: 30%;
  height: 60%;
}

.separation-line {
  width: 100%;
  height: 2px;
  background-color: rgb(69, 69, 69);
}

body {
  color: white;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

h2, h3 {
  font-family: 'Inter', sans-serif;
}

main {
  margin: 0px 2em;
}

footer {
  padding: 2em;
}
