@import url("components/navigation.css");
@import url("components/landing.css");
@import url("components/services.css");
@import url("components/button.css");
@import url("components/projects.css");

html, body {
  height: 100vh;
}

header {
  padding: 2em;
}

.content-box {
  margin: 8vw;
}

img {
  width: 30%;
  height: 60%;
}

.separation-line {
  width: 100%;
  height: 2px;
  background-color: rgb(115, 115, 115);
}

body {
  color: white;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

h2 {
  font-size: 7vw;
}

h3 {
  font-size: 4vw;
}

footer {
  padding: 2em;
}

iframe {
  height: 500px;
}
