nav {
  display: block;
}

nav > ul {
  display: inline;
  margin: 0px 2em 0px 0px;
  padding: 0px;
}

nav > ul > li {
  display: inline-block;
  font-size: larger;
  font-weight: 300;
  margin-right: 20px;
}

nav a,
nav a:visited {
  color: white;
  text-decoration: none;
}
